h1,
h2,
h3,
h4,
p,
nav {
  text-align: center;
}

main {
  max-width: 940px;
  margin: 0 auto;
}

nav .time {
  display: inline-block;
  font-size: 2.5em;
  margin: 0;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

p {
  font-size: 1.5em;
}

.placeholder {
  height: 20px;
}

.history {
  list-style: none;
  padding-inline-start: 0;
}
.history .date {
  font-weight: bold;
}
